html,body{
	min-height: 95%;
	height: 95%;
	
}

.mainBody{
	min-height: 100%;
	padding-top: 5%;	
	height: 95%;
	position:relative;
} 


//page container for all page

.page{
}

.page-container{
	margin-top: 10%;
	margin-left: 20%;
}

.jumbotron{
	margin-top: 7%;
	padding-top: 1%;
	padding-bottom: 1%;
}

// added by JJ 






