html,body{
	min-height: 95%;
	height: 95%;
	
}

.mainBody{
	min-height: 100%;
	padding-top: 5%;	
	height: 95%;
	position:relative;
} 


#thumbnail{
	border: 1px rgba(63, 133, 193, 0.35);
	border-style: solid ;
	border-radius:15px;
	margin-top: 10px;
	height: 30px;
	width: 30px;
}

#image{
	border: 1px rgba(63, 133, 193, 0.35);
	border-style: solid ;
	border-radius:15px;
	
	height: 300px;
	
}
/*page container for all page*/

.page{
}

.page-container{
	margin-top: 10%;
	margin-left: 20%;
}


/*carlist page*/

.sidebar{
	background: #eee;
	padding-top: 2%;
	padding-bottom: 2%;
}

.car-type{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.car-type-list{
	font-size: 14px;
	margin-top: 2px;
}

.sidebar, .content{
	margin-top: 8%;
}

.control-label{
	padding-left: 0;
}

/*carlist content table*/
#table-carlist tr{
	border-bottom: 1px solid #eee;

}

#table-carlist{
	border-radius: 4px;
}

.table-header{
	background: #dd4814;
	color: white;
	font-size: 15px;
	height: 50px;
}

.table-row{
	margin-bottom: 3%;
}

td .carlist-img{
	padding-bottom: 1%;
	width: 180px;
}

/*car.php*/
.car-img{
	width: 400px;
}

.table-car-header{
	font-size: 30px;
}

.table-td-car-feature{
	padding-left: 5%;
	width: 300px;
	vertical-align: top;
}

.table-price{
	font-size: 30px;
}

.table-brand-model{
	font-style: bold;
}

.table-btn{
	height: 10px;
}

.table-price-row{
	text-align: right;
}
.car-feature{
	margin-left: 30%;
	width: 200px;
}

/*booking.php*/
.booking-label{
	width: 20px;
	margin-right: 50px;
}

.booking-feedback{
	margin-bottom: 2%;
}
/*added by JJ */






